@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-accent px-4 py-2 rounded text-xl font-semibold text-white 
        capitalize shadow hover:bg-secondary hover:text-primary;
    }
    .badge {
        @apply bg-accent px-4 py-2 rounded-full text-white 
        capitalize shadow hover:bg-secondary hover:text-primary;
    }
}

#app {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Change scrollbar color */
:root {
    --primary: #001524;
    --secondary: #445d48;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}
